<html>
  <head>
    <title>Draw!</title>
  </head>
  <body>
    <div align='center'>
      <h2><%= @game.player_1.name %> chose: <%= @game.player_1.choice %></h2>
      <h2><%= @game.player_2.name %> chose: <%= @game.player_2.choice %></h2>
      <h1>Draw!</h1>
    </div>
  </body>
</html>
