<html>
  <head>
    <title>Draw!</title>
  </head>
  <body>
    <div align='center'>
      <h2><%= @player.name %> chose: <%= @player.choice %></h2>
      <h2><%= @computer.name %> chose: <%= @computer.choice %></h2>
      <h1>Draw!</h1>
    </div>
  </body>
</html>
