<html>
  <head>
    <title>Rock, Paper, Scissors!</title>
    <link rel="stylesheet" type="text/css" href="resources/styles.css">
  </head>
  <body>
    <header>
      <h1 align='center'>Rock, Paper, Scissors!</h1>
    </header>

    <div align='center'>
      <h2>What's your name?</h2>
      <form action='/user_name' method='post'>
        <input class="text_field" type='text' name='name' placeholder='Enter name here'><br>
        <button class="button" type='submit' name='submit' value='Go!'>
          <img src='resources/play.png'>
        </button>
      </form>
    </div>

  </body>
</html>
