<html>
  <head>
    <title>Rock, Paper, Scissors!</title>
  </head>
  <body>
    <div align='center'>
      <h1>Rock, Paper, Scissors!</h1>
      <h2>What's your name?</h2>
      <form action='/user_name' method='post'>
        <input type='text' name='name' placeholder='Enter name here'>
        <input type='submit' name='submit' value='Go!'>
      </form>
    </div>
  </body>
</html>
