<html>
  <head>
    <title>Rock, Paper, Scissors!</title>
    <link rel="stylesheet" type="text/css" href="resources/styles.css">
  </head>
  <body>
    <div class="heading">
      <h1>Welcome, <%= @game.player_1.name %>!</h1>
      <h2>Choose your move:</h2>
    </div>
    <div class="weapons">
      <div class="weapon">
        <form action="/result" method="post">
          <button class="button" type="submit" name="rps_choice" value='Rock'>
            <img src='resources/Rock.png'>
          </button>
        </form>
      </div>
      <div class="weapon">
        <form action="/result" method="post">
          <button class="button" type="submit" name="rps_choice" value='Paper'>
            <img src='resources/Paper.png'>
          </button>
        </form>
      </div>
      <div class="weapon">
        <form action="/result" method="post">
          <button class="button" type="submit" name="rps_choice" value='Scissors'>
            <img src='resources/Scissors.png'>
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
