<html>
  <head>
    <title>Rock, Paper, Scissors!</title>
    <link rel="stylesheet" type="text/css" href="resources/styles.css">
  </head>
  <body>
    <div align='center'>
      <h1>Welcome, <%= @game.player_1.name %>!</h1>
      <h2>Choose your move:</h2>
      <form action='/result' method='post'>
        <input type='radio' name='rps_choice' id='rock' value='Rock'> Rock<br>
        <input type='radio' name='rps_choice' id='paper' value='Paper'> Paper<br>
        <input type='radio' name='rps_choice' id='scissors' value='Scissors'> Scissors<br>
        <input type='submit' value="Let's play!">
      </form>
    </div>
  </body>
</html>
